

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #eee;
}

.card h2 {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 700;
}