.sidebar {
    width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    height: fit-content;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 8px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #1ec7ae;
}
