.create-post {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #eee;
}

.input-title,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
}

textarea {
    height: 150px;
    resize: none;
}

.input-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}
/* ===== CRIAR CATEGORIA ===== */
.create-post-categoria {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #eee;
  margin-top: 2rem;
}

.categoria-conjunto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.elemento-categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.input-group-categoria h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.action-buttons-categoria {
  display: flex;
  gap: 0.5rem;
}

.titulo-categorias {
  margin-bottom: 1rem;
  font-size: 1.5rem;
    
}