
.TituloGrande{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}

.filtro{
  list-style-type: none;
  display: flex;
  gap: 0.7rem;
}

.button-filtro{
  margin-top: 1rem;
  background-color: #fff;
  border: solid 1px #999999;
  border-radius: 0.9rem;
  color: #222;
  font-size: smaller;
  padding: 0.35rem 0.5rem;
}